.header {
    background-color: brown;
    color: aliceblue;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

.paratop {
    font-size: x-large;
    font-weight: bolder;
}